// Файл обнуляющих стилей
@import "nullstyle.scss";

body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction:column;
}
.conteiner{
	max-width: 940px;
	margin: 0px auto;
}
.content{
	flex: 1 1 auto;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	& li{
		margin: 33px 20px 30px 0px;
		font-family: 'Gilroy-Bold';
		font-size: 18px;
		&:last-child{
			margin: 33px 0px 60px 0px;
		}
	}
	& a{
		color: #828282;
		padding: 8px 30px;
		&:hover{
			color: black;
		}
		&:active{
			font-weight: bold;
		}
	}
	}
.header__row{
	width: 880px;
	height:87.94px;
	border-bottom: 1px solid #828282;
	transform:matrix(1,0,0,1,0,0);
	margin: 0px 0px 15px 0px;
}
.header ul{
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;

}
.home{
   display: flex;
	justify-content: space-between;
	& ul{
		display: flex;
		justify-content: space-between;

	}
	& li{
		display: flex;
		justify-content: space-between;
		position: relative;
		font-family: 'Gilroy-Bold';
		align-items: end;
		&:first-child{
			font-size: 47.3392px;
			font-weight: 700;
			color:#070707;
			line-height: 59px;
		}
		&:nth-child(2){
			font-family: 'Gilroy-Medium';
			font-size: 18px;
			line-height: 22px;
			color:#070707;
			padding: 0px 0px 8px 0px;

		}
		&:last-child{
			font-family: 'Gilroy-Bold';
			font-size: 16px;
			color:#828282;
			transform:rotate(-90deg);
			padding: 10px 60px 0px 20px;
		}
	}
	& a{
		color:#828282;
		&:hover{
			color:#070707;
		}
	}
}
.home__image{
	padding: 30px 0px 0px 0px;
}
.home__row{
	width: 880px;
	height: 600px;
	object-fit:cover;
	overflow: hidden;
}
.aboutme{
	display: flex;
	align-items: center;
}
.aboutme__row{
	width: 100vw;
	margin-left:calc(50% - 50vw);
	background-color: #F6F6F6;
	background-size: 100%;
}
.aboutme__title{
	& h2{
		display: flex;
		justify-content: center;
		font-family: 'Gilroy-Bold';
		font-size: 34px;
		color:#070707;
		font-weight: 700;
		padding: 60px 0px 0px 0px;
	}
}
.aboutme__text{
	& p{
		text-align: center;
		font-family: 'Gilroy-Medium';
		font-size: 18px;
		color:#070707;
		line-height: 22px;
		padding: 10px 0px 0px 0px;
		&:last-child{
			padding: 10px 0px 60px 0px;
		}
	}
}

.footer{
}
.footer__row{
	display: flex;
	height: 100px;
	justify-content: center;
	align-items: center;
}
.footer__image{

}
.footer__text{
	font-size: 18px;
}